html {
  box-sizing: border-box;
  background-color: black;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.square1{
  background-color:white;
  width:320px;
  height:320px;
  padding: 10px;
  margin:auto;
  margin-top: 200px;
}

.coloured {
  color: white;
  background: black;
}
.enlarged {
  font-size: 200%;
}
.hidden {
  display: none;
}
